# Bronze storage
SMB_PATH=
BRONZE_ROOT=storage\bronze

# PostgreSQL (Silver/Gold)
DB_URL=postgresql://user:password@localhost:5432/domotic_dev

# MySQL source (school DB)
MYSQL_URL=mysql+pymysql://student:password@10.130.25.152:3306/pidb

# sFTP Weather
SFTP_HOST=hostname
SFTP_PORT=22
SFTP_USER=user
SFTP_PASSWORD=password
SFTP_PATH=/Meteo2

WEATHER_MIN_YEAR=2023

# Gold weather
WEATHER_SITES=Sion

# Power BI connection (Gold schema)
PBI_SERVER=localhost:5432
PBI_DATABASE=domotic_dev
PBI_USER=user
PBI_PASSWORD=password