# Bronze storage
SMB_PATH=
BRONZE_ROOT=storage\bronze

# PostgreSQL (Silver/Gold)
DB_URL=postgresql://user:password@localhost:5432/domotic_dev

# MySQL source (school DB)
MYSQL_URL=mysql+pymysql://student:password@10.130.25.152:3306/pidb

# sFTP Weather
SFTP_HOST=hostname
SFTP_PORT=22
SFTP_USER=user
SFTP_PASSWORD=password
SFTP_PATH=/Meteo